<template>
   <v-container>
   	<v-layout row>
         <v-flex xs12 sm6 offset-md4>
				<h1 class="text--secondary mb-3">Crteate new ad</h1>
				<v-form ref="form" v-model="valid" validation class="mb-3">
					<v-text-field name="title" label="Title" type="text" v-model="title" required :rules="[v => !!v] || 'Введите название'"></v-text-field>
					<v-text-field name="description" label="Description" type="text" multi-line v-model="description" required :rules="[v => !!v] || 'Введите описание'"></v-text-field>
				</v-form>
				<v-layout row class="mb-3">
					<v-flex xs12>
						<v-btn class="warning">
							Upload
							<v-icon right dark>cloud_upload</v-icon>
						</v-btn>
					</v-flex>
				</v-layout>
				<v-layout row>
					<v-flex xs12>
						<img src="" height="100">
					</v-flex>
				</v-layout>
				<v-layout row>
					<v-flex xs12>
						<v-switch
							label="Add to promo"
							v-model="promo"
							color="primary"
						></v-switch>
					</v-flex>
				</v-layout>
				<v-layout row>
					<v-flex xs12>
						<v-spacer></v-spacer>
						<v-btn class="success" :disabled="!valid" @click="createAd">Create ad</v-btn>
					</v-flex>
				</v-layout>
         </v-flex>
      </v-layout>
   </v-container>
</template>
<script>
export default {
	data (){
		return {
			title: '',
			description: '',
			promo: false,
			valid: false,
		}
	},
	methods: {
		createAd () {
			if (this.$refs.form.validate()) {
				const ad = {
					title: this.title,
					descropton: this.description,
					promo: this.promo,
					imageSrc: 'https://cdn-images-1.medium.com/max/1600/1*JAbXlOdwiVhwfXla9zE7Nw.png'
				}
				console.log(ad);
				this.$store.dispatch('createAd', ad);
			}
		}
	}
}
</script>