<template>
   <div>
      <v-container fluid>
         <v-layout row>
            <v-flex xs12>
               <v-carousel interval="60000">
                  <v-carousel-item v-for="item in promoAds" :src="item.imageSrc" :key="item.id">
                     <div class="car_link">
                        <v-btn class="error" :to="'/ad/' + item.id">{{ item.title }}</v-btn>                        
                     </div>
                  </v-carousel-item>
               </v-carousel>
            </v-flex>
         </v-layout>
      </v-container>
      <v-container grid-list-lg>
         <v-layout row wrap>
            <v-flex xs12 sm6 md4 v-for="item in ads" :key="item.id">
               <v-card>
                  <v-card-media :src="item.imageSrc" height="200px">
                  </v-card-media>
                  <v-card-title primary-title>
                     <div>
                        <h3 class="headline mb-0">{{ item.title }}</h3>
                        <div>{{ item.description }}</div>
                     </div>
                  </v-card-title>
                  <v-card-actions>
                     <v-spacer></v-spacer>
                     <v-btn flat :to="'/id/' + item.id">Открыть</v-btn>
                     <v-btn raised class="primary">Купить</v-btn>
                  </v-card-actions>
               </v-card>
            </v-flex>
         </v-layout>
      </v-container> 
   </div>
</template>
<script>
export default {
    data(){
        return {
         
        }
    },
    computed: {
        promoAds () {
            return this.$store.getters.promoAds
        },
        ads () {
            return this.$store.getters.ads
        }
    }
}
</script>
<style>
   .car_link {
      position: absolute;
      bottom: 50px;
      left: 50%;
      background: rgba(0, 0, 0, .5);
      transform: translate(-50%, 0);
      padding: 5px 15px;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
   }
</style>
