<template>
   <v-container fluid fill-height>
      <v-layout align-center justify-center>
         <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar dark color="primary">
                <v-toolbar-title>Login form</v-toolbar-title>                                               
              </v-toolbar>
              <v-card-text>
                <v-form ref="form" v-model="valid" validation>
                  <v-text-field prepend-icon="person" name="email" label="email" type="email" v-model="email" :rules="emailRules"></v-text-field>
                  <v-text-field prepend-icon="lock" name="password" label="Password" type="password" v-model="password" :counter="6" :rules="passwordRules"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="onSubmit" :disabled="!valid">Login</v-btn>
              </v-card-actions>
          </v-card>
         </v-flex>
      </v-layout>
   </v-container>
</template>
<script>
export default {
   data (){
      return {
         email: '',
         password: '',
         valid: false,
         emailRules: [
            v => !!v || 'E-mail is required',
              v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
         ],
         passwordRules: [
              v => !!v || 'Name is required',
              v => (v && v.length >= 6) || 'Пароль должен быть больше 6 символов'
         ],
      }
   },
   methods: {
      onSubmit(){
         if (this.$refs.form.validate()) {
            
            console.log(123);
            
         }
      }
   }
}
</script>